.challengeBoxContainer {
  height: 100%;

  background: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  /* padding: 1.5rem 2rem; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.challengeNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.5rem 2rem;
}

.challengeNotActive strong {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

.challengeNotActive p {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  line-height: 1.4;
  max-width: 90%;
  margin-top: 3rem;
}

.challengeNotActive p img {
  height: 50px;
  margin-right: 1.2rem;
}

.challengeActive {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.challengeActive header {
  color: var(--blue);
  font-weight: 600;
  font-size: 1.25rem;

  margin: 1.5rem 4rem 0;
  padding: 0 2rem 1.5rem;
  border-bottom: 1px solid var(--gray-line);
}

.challengeActive main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 2rem;
}

.challengeActive main strong {
  font-size: 2rem;
  font-weight: 600;
  color: var(--title);

  margin: 1.5rem 0 1rem;
}

.challengeActive main p {
  line-height: 1.5;
}

.challengeActive footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.challengeActive footer button {
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-top: 1px solid #DCDDE0;

  color: var(--white);

  font-size: 1rem;
  font-weight: 600;

  transition: filter 0.2s;
}

.challengeActive footer button.challengeFailedButton {
  background: #FFF5F5;
  color: var(--red);
  border-radius: 0px 0px 0px 5px;
}

.challengeActive footer button.challengeSucceededButton {
  background: #F7FFF5;
  color: var(--green);
  border-radius: 0px 0px 5px 0px;
  border-left: 1px solid #DCDDE0;
}

.challengeActive footer button:hover {
  filter: brightness(0.9);
}