.container {
  height: 100vh;
  background: var(--blue);
  color: var(--white);

  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 420px;
  margin-left: 7.5rem;
  margin-right: 12.5rem;
}

.content h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 6rem;
}

.github {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.github p {
  max-width: 255px;
  margin-left: 1.5rem;

  font-weight: 500;
  font-size: 1.25rem;
  color: var(--text-highlight);
}

.content button {
  padding: 1.5rem 1.8rem;

  background: #4953B8;
  color: var(--text-highlight);
  font-size: 1.25rem;

  border-radius: 5px;
  border: 0;

  display: flex;
  align-items: center;

  transition: background-color 0.2s;
}

.content button + button {
  margin-top: 1rem;
}

.content button svg {
  margin-right: 1.5rem;
}

.content button:hover {
  background: #4953B8;
}